{% extends 'base.html' %}
<!-- title Hовости :: News List -->
{% block title %} Обратная связь :: {{ block.super }} {% endblock %}

<!-- categories -->
{% block sidebar %}
<!-- SIDBAR -->
{% include 'incl/_sidbar.html' %}
<!--  -->
{% endblock %}

<!-- news -->
{% block content %}
<!--  -->
<h1>Обратная связь</h1>
<form method="POST">
  {% csrf_token %}
  <!-- отобразит их в тегах <p> -->
  {{form.as_p}}
  <button type="submit" class="btn btn-primary btn-block">Отправить</button>
</form>
<!--  -->
{% endblock %}
